*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto",sans-serif;
}

body{
    background-color: #F1FAEE;
}

.section-center{
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 90vw;
    margin: auto;
    margin-top:4em;
}

.info-container,.form{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.info-title{
    font-size: 50px;
    font-weight: bold;
    color: #E63946;

}

.grid-size,.pen-color{
    width: 100%;
    height: 111px;
    background-color: #E63946;
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 3em;
    position: relative;
}


.grid-size p,.pen-color p{
    margin-left: .5em;
    font-size: 35px;
    color: white;
    font-weight: normal;
    
}

#value{
    color: white;
    position: absolute;
    right: 31%;
}

#color{
    color: white;
}

.grid{
    
    display: flex;
    flex-direction: column;
    place-items: center;
}
.container{
    background-color: white;
    width: 871px;
    height: 714px;
    border: 1px solid black;
    display: grid;
   
}

.clear-btn{
    margin: 1em;
    font-size: 35px;
    width: 210px;
    height: 57px;
    background-color: #1D3557 ;
    color: white;
    border: 1px solid black;
    cursor: pointer;
    transition: .2s;
}

.clear-btn:hover{
    background-color: black;
    border: 1px solid white;
    transform: scale(1.2);
}

